@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/ProfielFoto.jpg">
        <h1 class="person-name">Quinten Wit</h1>

        <div class="eigenschappen-container">
            <h3 class="profile-content__category-title">Eigenschappen</h3>
            <hr>
            <ul class="eigenschappen-lijst">
                <li>Doorzettingsvermogen</li>
                <li>Actief luisteren naar de klant</li>
                <li>Snel, veilig en kwalitatief code schrijven</li>
            </ul>
        </div>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    2e jaars ICT student bij Windesheim Zwolle.
                <p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">ICT</h4>
                    <p class="profile-content__period">aug 2023 - heden</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Elektrotechniek</h4>
                    <p class="profile-content__period">aug 2022 - jun 2023</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HAVO</h4>
                    <p class="profile-content__period">aug 2017 - jun 2022</p>
                </div>
                <p class="profile-content__institute">Arcus/Porteum, Lelystad</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Autobezorger</h4>
                    <p class="profile-content__period">aug 2024 - heden</p>
                </div>
                <p class="profile-content__institute">Bij John eten & drinken, Lelystad</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Parttime verkoopassistent</h4>
                    <p class="profile-content__period">aug 2023 - sep 2024</p>
                </div>
                <p class="profile-content__institute">G-Star RAW, Lelystad</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Vakkenvuller</h4>
                    <p class="profile-content__period">sep 2021 - aug 2023</p>
                </div>
                <p class="profile-content__institute">Jumbo Supermarkten, Lelystad</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Folderbezorger</h4>
                    <p class="profile-content__period">okt 2019 - aug 2021</p>
                </div>
                <p class="profile-content__institute">Spotta, Lelystad</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Folderbezorger</h4>
                    <p class="profile-content__period">jun 2019 - okt 2019</p>
                </div>
                <p class="profile-content__institute">Armada, Lelystad</p>
            </div>

        </section>
    </section>
</div>
